services:
  backend:
    build: .
    ports:
      - 34242:5000
    volumes:
      - .:/app
    environment:
      APP_ENV: dev
      DATABASE_URL: postgresql://appuser:87mJMEjvRarg8WmwbJOD6TEzvn8WtRSx@dpg-d4c2m5ripnbc73960iug-a/appdb_9y4g
    depends_on:
      - database
  database:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    ports:
      - "54242:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata: